GA4_PROPERTY_ID=538615957
GOOGLE_SERVICE_ACCOUNT_EMAIL=analytics-reader@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
SERPRO_CONSUMER_KEY=your-serpro-consumer-key
SERPRO_CONSUMER_SECRET=your-serpro-consumer-secret
SERPRO_TOKEN_URL=https://gateway.apiserpro.serpro.gov.br/token
SERPRO_CPF_URL=https://endpoint-fornecido-no-seu-contrato-serpro
